<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "PAGE TITLE HERE",
  "description": "Short SEO description of the article here.",
  "image": "https://flatfootballs.com/images/your-image-name.jpg",
  "author": {
    "@type": "Person",
    "name": "Eric R. Winkler",
    "url": "https://flatfootballs.com/about.html"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Flatfootballs",
    "url": "https://flatfootballs.com",
    "logo": {
      "@type": "ImageObject",
      "url": "https://flatfootballs.com/logo.png"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "FULL ARTICLE URL HERE"
  },
  "datePublished": "2026-02-26",
  "dateModified": "2026-02-26"
}
</script>
